* {
  margin: 8px auto;
}

div {
  width: 400px;
  margin: 0 auto;
}

input {
  width: 60px;
  height: 32px;
}

#vCode {
  display: block;
  width: auto;
  /* float: left; */
  font: italic bolder 28px/32px Arial, sans-serif;
  color: blue;
  background-color: #f5f5f5;
  letter-spacing: 3px;
  float: right;
  cursor: pointer;
  padding: 1px 3px;
  text-align: center;
}

#inputCode {
  width: 100px;
  height: 30px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #288bc4;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#info {
  color: red;
  font: 12px Arial;
}
